*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-color: #14bdac3f;
}

h1{
  padding: 20px;
}
.container{
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 80px;
  border: 2px solid rgba(119, 136, 153, 0.69);
  border-radius: 20px;
  background-color: #14BDAC;
}

#numbers{
  font-size: 80px;
  color: white;
  font-weight: bold;
}

#message1{
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}

#message2{
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
  color: red;
}
